option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "capricorn.settings.develop"
    DJANGO_SECRET_KEY: ""
    AWS_ACCESS_KEY_ID: ""
    AWS_SECRET_ACCESS_KEY: ""
    PSQL_DB_NAME: ""
    PSQL_DB_USER: ""
    PSQL_DB_PASSWD: ""
    PSQL_HOST: ""
    PSQL_PORT: ""
    CACHE_SERVER_URL: ""
    EMAIL_HOST_USER: ""
    EMAIL_HOST_PASSWORD: ""
    WORKER_SETTING: ""
    SQS_NAME: ""
